# python #
###################
*ipynb_checkpoints*
__pycache__
*.pyc

# vim files # 
###################
*.swp

# data files #
###################
useCases/data/*.csv
useCases/data/Boundaries_ZIP_Codes/

# in prep
####################
useCases/ignore/
