# python #
###################
*ipynb_checkpoints*
__pycache__
*.pyc

# vim files # 
###################
*.swp

# data files #
###################
*.csv

# in prep
####################
useCases/ignore/
